  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400&family=Nunito+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

div.wrapper {
    margin: 100px auto;
    max-width: 600px;
    width: 100%;
    padding: 25px;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    div.wrapper {
        margin: 120px auto;
        max-width: 90%;
    }

}

header {
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
}

.input_field {
    display: flex;
    gap: 7px;
    margin: 20px 0;
    height: 40px;
}

input#todo_input {
    width: 90%;
    height: 100%;
    position: relative;
    font-size: 14px;
    padding: 6px;
    outline: none;
    border: 1px solid rgb(145, 140, 140);
    border-radius: 3px;
}

input#todo_input:focus {
    border-color: #e664643d;
    border-width: 3px;
}

span {
    position: absolute;
    padding-left: 10px;
    padding-top: 8px;
    pointer-events: none;
    color: #b3b0b0;
}

#todo_input:focus ~ span {
    display: none;
    transition: .3s ease-in-out;
}

.addbtn {
    width: 48px;
    font-size: 25px;
}

.btn {
    background-color: #281264dc;
    opacity: .6;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.btn:active {
    opacity: 1;
}
.todo_list {
    overflow: auto;
    max-height: 250px;
    
}

.todo_list>li {
    list-style-type: none;
    position: relative;
    min-height: 40px;
    line-height: 23px;
    padding: 8px 12px;
    margin-bottom: 12px;
    background: #e0dddd;
    cursor: default;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

footer>p {
    font-size: 16px;
}

.clearAllTodosbtn {
    width: 70px;
    font-weight: 600;
    padding: 10px 5px;
}

input#input, .btn, span {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}